@import url('https://fonts.googleapis.com/css?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Miao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.App{
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: black;
}

.App svg{
  width: 100%;
  z-index: 2;  

}
.iconholder{
  height: calc(100vh - 320px);
  width: 100% ;
  /* background-color: aqua; */
  position: relative;
  z-index: 2;
}
#cubeicons{
  rotate: 20deg;
  position: absolute;
  right: -10px;
  top: -50px;
}

#jsicon{
  rotate: -30deg;
  position: absolute;
  right: -120px;
  top: 40%;
}

#termicon{
  rotate: -30deg;
  position: absolute;
  left: 0px;
  bottom: -200px;
}

#webhookicon{
  rotate: 10deg;
  position: absolute;
  left: -30px;
  top: 35%;
}

#bracketicon{
  rotate: -30deg;
  position: absolute;
  top: -20px;
}

#htmlicon{
  rotate: 20deg;
  position: absolute;
  top: -50px;
  left : 30%;
}

#mobdevicon{
  rotate: 20deg;
  position: absolute;
  top: -50px;
  left : 60%;
}

.herocontainer{
  background-color: #F3F1EF;
  z-index: 3;
  height: 95vh;
  width: 80vw;
  top: 5vh;
  left: 10vw;
  position: absolute;
  /* background:linear-gradient(#F3F1EF,#F3F1EF),url('https://grainy-gradients.vercel.app/noise.svg'); */


}

.noisefilter{
  position: absolute;
  height: 100%;
  width: 100%;
  background:linear-gradient(#e2e0df8e,#e2e0df8e),url('https://grainy-gradients.vercel.app/noise.svg');
  top: 0px;
  left: 0px;
  z-index: 0;
}

.herocontainer nav{
  width: 100%;
  height: 100px;
  display: flex ;
}


.herocontainer > nav > div{
  width: 33%;
  height: 100%;

}

.namelogo{
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.namehead{
  color: black;
  font-family: 'Six Caps', sans-serif;
  font-size: 50px;
  margin-left: 15px;
}

.nav-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.nav-buttons a{
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans Miao', sans-serif;
  font-size: 13px;
}

.letstalkcontainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.letstalkbutton{
  color: black;
  font-family: 'Six Caps', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border: 2px solid black;
  cursor: pointer;
  background-color: #f3f1efb0;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: textShine 4s ease infinite; 
  
}

.letstalkbutton:hover{

  animation: textShine 4s ease infinite; 
  background:linear-gradient(#f3f1ef34,#f3f1ef3a),url('https://grainy-gradients.vercel.app/noise.svg');


/* background: linear-gradient(
    -60deg,
    #EA3883 20%,
    #ABDAFB 40%,
    #1E2AE6 60%,
    #E64D33 80%
  ); */
  /* 

  background-size: 500% auto;*/
}

.restcontainer{
  width: 100%;
  height: calc(95vh - 100px);
  position: relative;  
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: rebeccapurple; */
}

.restcontainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.restcontainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.blackstrip{
  background-color: black;
  height: 100px;
  width: 105%;
  rotate: -5deg;
  bottom: 20px;
  left: -30px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.blackstrip p{
  color: white;
  font-size: 20px;
}

.hero{
  /* background-color: red; */
  height: 80%;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.herotext1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
  width: 70%;
  height: auto;
  display:inline-block;
  text-transform: uppercase;
  z-index: 1;
} 





#herotextsvg{
  fill: crimson;
}

#gradienttext{
  /* background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  ); */

  background: linear-gradient(
    -60deg,
    #EA3883 20%,
    #ABDAFB 40%,
    #1E2AE6 60%,
    #E64D33 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 4s ease infinite;
}

/* --------------------ABOUT------------------ */
.projectHeader{
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-family: 'Fredericka the Great', cursive;
  margin-top: 200px;
  line-height: 0;
}


.aboutContainer{
  height: 100%;
  width: 100%;
  background-image: url('./assests/doodad\(1\).png');
  /* background-size: 200px 100px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainerFilter{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  /* background: radial-gradient(transparent,transparent,#f3f1ef94,#f3f1ef94,#F3F1EF,#F3F1EF); */
  background: linear-gradient(#F3F1EF,#f3f1ef94,transparent,transparent,#f3f1ef94,#F3F1EF),url(https://grainy-gradients.vercel.app/noise.svg);


/* 
  background: linear-gradient(to right, black, transparent),
  url(https://grainy-gradients.vercel.app/noise.svg);*/ 
filter:  brightness(100%); 
}

/* --------------------PROJECT------------------- */


.projectStrip{
  height: 450px;
  width: 90%;
  transform: rotate(5deg);
  display: flex;
  align-items: center;
  padding-left: 100px;
  /* background-color: #abdafb69; */
  /* backdrop-filter: blur(4px); */
  overflow-x: scroll;
  overflow-y: visible;
}

.projectStrip::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.projectStrip {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.projectContainer{
  height: 90%;
  width: 260px;
  background-color: #0c0909;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;


  background-color: #fbdbab69;
  backdrop-filter: blur(4px);
  border-radius: 4px;
  margin: 0px 15px 0px 0px;
  background-color: rgba(151, 150, 150, 0.479);


  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}



.projectContainer:hover{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

  margin: 0px 30px 0px 0px;
}

.projectImg{
  width: 240px;
  height: 45%;
  background-size: cover;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: 4px;
}


.projectImg:hover{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  scale: 1.3 ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.projectName{
  width: 100%;
  height: auto;
  color: rgb(17, 16, 16);
  font-family: 'Noto Sans Miao', sans-serif;  
  font-size: 25px;
  line-height: 25px;
  font-weight: 900;
  margin: 10px 0px 0px 0px;
}

.projectDescription{
  margin: 10px 0px 0px 0px;
  color: rgb(48, 47, 47);
  font-family: 'Noto Sans Miao', sans-serif;  
  font-size: 13px;
}

.projectMoreBtn{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 10px 0px 0px 0px;
  cursor: pointer;
  border-radius: 4px;
}

/* ---------------TECH STACK LOGOS---------- */
.smallAboutContainer{
  height: 60%;
}



.logoHolder{
  width: 70%;
  height: 100%;
  /* border :2px dotted grey; */

}



.logoBox{
  height: 100px;
  width: 100px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.514);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;} */

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.logoBox:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;	backdrop-filter: blur(4px);

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.bigBox{
  width: 165px;
}

.logoBox img{
  height: 90%;
  width: 90%;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
  filter: grayscale(1);
  
}
.logoRow{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 15px;
  background-color: transparent;
}
/* -------------OTHER COMPNENETS------------ */

.someContainer{
  width: 100%;
  height: 80vh;
  background-color: #eee4e5;
  background-image: url("https://uploads-ssl.webflow.com/61e90cfc43ba4a64cb42a077/61f05e4249cfbbafe54af9d0_gradient%20mask.png"), url("https://uploads-ssl.webflow.com/61e90cfc43ba4a64cb42a077/61ee5404ef4206c95ee21a92_grain-bg.jpg");
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, fixed;
  cursor: auto;
  position: relative;
}

.someContainerFilter{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(#F3F1EF,#f3f1ef94,transparent,transparent,#f3f1ef94,#F3F1EF),url(https://grainy-gradients.vercel.app/noise.svg);
filter:  brightness(100%); 
}

.footerContainerFilter{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(#F3F1EF,#f3f1ef94,transparent,transparent,transparent,transparent);
filter:  brightness(100%); 
}


.footer-cointainer{
  height: 100%;
  width: 100%;
  background-color: maroon;
  position: relative;

}

.footer-banner{
  height: 50%;
  width: 100%;
  background-image: url(./assests/footer/cover-image.png);
  background-size: cover;
}
.footer-end{
  height: 50%;
  width: 100%;
  background-color: black ;
}

.footer-profile{
  height: 50%;
  aspect-ratio: 1;
  background-color: #1E2AE6;
  position: absolute;
  top: 25%;
  left: 38%;
  background-image: url(./assests/footer/profile-pic.png);
  background-size: cover  ;
  border-radius: 50%;
  border: white 4px dashed;
}



